<div class="home">
    <div class="header">
        <div class="logo"><i class="fas fa-laptop-code"></i><br/>D&D Developers</div>
        <div class="slogan">Make it SIMPLE but SIGNIFICANT</div>
        <a href="#about" class="btn btn-default">Find Out More</a>
    </div>

    <div class="nav" ng-include src="'navbar.html'"></div>

    <div id="about">
        <p class="title">Our Story</p>
        <hr/>
        <div class="story">
            We are highly experienced developers,<br/> both served in an elite technology unit at the IDF Intelligence
            Corps.<br/>
            We offer full stack software services including consulting services, <br/>guidance & development in a
            variety of fields.<br/>
            <a href="#skills" class="btn btn-green">See Skills</a><br/>
            If you need a big boost to your product and think freelancing can fit your needs, we will gladly meet
            you.
        </div>
        <p class="title">Meet the Team</p>
        <hr/>
        <div class="team-members">
            <team-member ng-repeat="member in teamMembers" member="member"></team-member>
        </div>
    </div>

    <div id="skills">
        <p class="title">Skills</p>
        <hr/>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto" ng-repeat="skill in skills">
                <div class="skill-preview">
                    <div class="skill-name">
                        {{skill}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio">
        <p class="title">Portfolio</p>
        <hr/>
        <button class="btn btn-green" ng-class="{'active' : activeNow == 'projects'}"
                ng-click="changeSelection('projects')">Our Projects</button>
        <button class="btn btn-green" ng-class="{'active' : activeNow == 'clients'}"
                ng-click="changeSelection('clients')">Our Clients</button><br/>
        <div class="row projects" ng-if="showProjects">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto" ng-repeat="proj in portfolio" project="proj">
            </div>
        </div>
        <div class="row clients" ng-if="showClients">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mx-auto" ng-repeat="client in clients">
                <img ng-src="{{client.logo}}" alt="Client Logo" style="width: 100%">
            </div>
        </div>
    </div>

    <div id="contact">
        <p class="contact-title">Contact us:</p>
        <table class="contact-info">
            <tr>
                <td>Dor Cohen</td>
                <td>Dor Fellus-Cohen</td>
            </tr>
            <tr>
                <td>054-6100066</td>
                <td>054-4456148</td>
            </tr>
            <tr>
                <td>dorcohen8@gmail.com</td>
                <td>dorfellus@gmail.com</td>
            </tr>
            <tr>
                <td>
                    <div class="row social">
                        <div class="col-4">
                            <a href="media/DorCohen-CV.docx" target="_blank" s>
                                <i class="fa fa-file"></i>
                                <div class="social-title">CV</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://mailto:dorcohen8@gmail.com" target="_blank">
                                <i class="fa fa-envelope"></i>
                                <div class="social-title">Mail</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.linkedin.com/in/cohendor/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                                <div class="social-title">LinkedIn</div>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row social">
                        <div class="col-3">
                            <a href="media/Dor Fellus Resume - English.pdf" target="_blank">
                                <i class="fa fa-file"></i>
                                <div class="social-title">CV</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://mailto:dorfellus@gmail.com" target="_blank">
                                <i class="fa fa-envelope"></i>
                                <div class="social-title">Mail</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.linkedin.com/in/dorfellus/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                                <div class="social-title">LinkedIn</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://gitlab.com/dorfellus" target="_blank">
                                <i class="fab fa-gitlab"></i>
                                <div class="social-title">GitLab</div>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>