<div class="project">
    <a href="{{project.linkToProj}}" target="_blank">
        <div class="project-img img-thumbnail" ng-style="{'background-image':'url({{project.img}})'}">
        </div>
        <p class="project-name">
            {{project.name}}
        </p>
    </a>
</div>