<div class="team-member">
    <div class="member-img">
        <img ng-src="{{member.img}}" alt="Team member image">
    </div>
    <div class="member-desc-container">
        <p class="member-name">{{member.name}}</p>
        <p class="member-title">{{member.title}}</p>
        <p class="member-desc">{{member.desc}}</p>
    </div>
</div>