.nav-bar{
    z-index: 100;
    width: 100%;
}
.nav-bar .navbar-light{
    background-color: #434343 !important;
}
.nav-bar .navbar-light .navbar-nav .nav-link{
    color: white !important;
    margin: 0 3vw;
    font-size: 1.2rem;
}
.nav-bar .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #39bcc9 !important;
}
.nav-bar .collapse{
    justify-content: center;
}