.home{
    font-family: Courier;
}
.home .header{
    background-image: url("../media/header4.jpg");
    background-size: cover ;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home .btn{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.home .btn-default{
    color: rgba(255,255,255,0.8);
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    padding: 12px 20px;
    margin: 0;
    font-size: 15px;
    border-radius: 0;
    text-transform: uppercase;
}
.home .btn-default:hover{
    background-color: white;
    opacity: 0.8;
    color: #454a50;
}
.home .btn-green{
    color: #2f7591;
    background-color: transparent;
    border: 2px solid #2f7591;
    padding: 12px 20px;
    margin: 20px 0;
    font-size: 15px;
    border-radius: 0;
    text-transform: uppercase;
}
.home .btn-green.active{
    background-color: #2f7591;
    opacity: 0.8;
    border: 2px solid #2f7591;
    color: white;
}
.home .btn-green:hover{
    background-color: #2f7591;
    opacity: 0.8;
    border: 2px solid #2f7591;
    color: white;
    cursor: pointer;
}
.home .header .logo{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    font-size: 40px;
    display: block;
}
.home .header .slogan{
    text-align: center;
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
}
.home .nav{
    width: 100%;
}
.home .title{
    font-size: 2rem;
    margin: 30px auto 10px auto;
    color: #454a50;
    text-align: center;
    text-transform: uppercase;
}
.home hr{
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: rgb(46, 141, 153);
    background: -moz-linear-gradient(left, rgb(46, 141, 153) 0%, rgba(167,184,181,1) 100%);
    background: -webkit-linear-gradient(left, rgb(46, 141, 153) 0%, rgba(167,184,181,1) 100%);
    background: linear-gradient(to right, rgb(46, 141, 153) 0%, rgba(167,184,181,1) 100%);
    margin: 0 auto 40px auto;
    border: 0;
}
.home #about .story{
    font-size: 1.1rem;
    color: #454a50;
    text-align: center;
    margin: 0 auto 60px auto;
    line-height: 35px;
}
.home #about .team-members{
    text-align: center;
}
.home #skills{
    padding: 50px 100px 80px 100px;
    background: rgb(14,45,58);
    background: -moz-linear-gradient(left, rgb(14, 45, 58) 0%, rgb(47, 117, 145) 100%);
    background: -webkit-linear-gradient(left, rgba(14,45,58,1) 0%, rgba(47,117,145,1) 100%);
    background: linear-gradient(to right, rgba(14,45,58,1) 0%, rgba(47,117,145,1) 100%);
    text-align: center;
}
.home #skills .title{
    color: white;
}
.home #skills hr{
    background: rgba(255,255,255,0.3);
}
.home #skills .skill-preview{
    border-radius: 50%;
    border: 3px solid white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    height: 140px;
    width: 140px;
    position: relative;
}
.home #skills .skill-preview:hover{
    background-color: white;
    opacity: 0.8;
    color: #454a50;

}
.home #skills .skill-preview .skill-name{
    vertical-align: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.home #portfolio{
    text-align: center;
    padding: 50px;
}
.home #portfolio .btn-green{
    margin-top: 0 !important;
    margin-bottom: 30px !important;
}
.home #contact{
    padding: 50px 80px 30px 80px;
    background: rgb(14,45,58);
    background: -moz-linear-gradient(left, rgb(14, 45, 58) 0%, rgb(47, 117, 145) 100%);
    background: -webkit-linear-gradient(left, rgba(14,45,58,1) 0%, rgba(47,117,145,1) 100%);
    background: linear-gradient(to right, rgba(14,45,58,1) 0%, rgba(47,117,145,1) 100%);
    text-align: left;
    color: white;
}
.home #contact .contact-title{
    font-size: 1.2rem;
    font-weight: bold;
}
.home #contact .contact-info td{
    padding-right: 60px;
}
.home #contact .contact-info td ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 0 !important;
    padding-top: 10px;

}
.home #contact .contact-info td a{
    font-size: 1.5rem;
    color: white;
}
.home #contact .contact-info td a i {
    margin-top: 10px;
}
.home #contact .contact-info td .social{
    width: 55%;
}
.home #contact .contact-info td i:hover{
    color: #222222;
}
.home #contact .contact-info td .social-title{
    visibility: hidden;
}
.home #contact .contact-info td i:hover
.home #contact .contact-info td .social-title{
    visibility: visible;
    color: #222222;
    font-weight: bold;
    margin-top: 10px;
}


