.team-member{
    text-align: center;
    line-height: 15px;
    margin: 0 20px 30px 20px;
    display: inline-block;
}
.team-member .member-img img{
    border: 3px solid #2E8D99;
    border-radius: 50%;
    height: 130px;
    margin-bottom: 25px;

}
.team-member .member-desc-container{
    font-size: 1em;
    margin-top: 10px;
}
.team-member .member-desc-container .member-name{
    font-weight: bold;
    font-size: 1.2em;
}
.team-member .member-desc-container .member-desc{
    font-size: 0.8em;
}