<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="homeButton">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" id="aboutButton">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills" id="skillsButton">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio" id="porfolioButton">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" id="contactButton">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>